.design-materials-page {
  padding: 20px;
  background-color: var(--background-color);
  color: white;
  margin: 0 auto;
}

.design-materials-page h1, .design-materials-page h2 {
  color: var(--text-color);
}

.design-materials-page h1 {
  text-align: center;
  margin-bottom: 30px;
}

.design-materials-page p {
  color: var(--text-color);
}

.materials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.affiliate-marketing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
