/* src/pages/TermsOfService.css */

.terms-of-service {
    padding: 80px 20px; /* Adjust padding to account for fixed navbar */
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: var(--text-color);
  }
  
  .terms-of-service h1 {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 40px;
  }
  
  .terms-of-service h2 {
    color: var(--accent-color);
    margin-top: 20px;
  }
  
  .terms-of-service p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--text-color);
  }
  
  .terms-of-service a {
    color: #1abc9c;
    text-decoration: none;
  }
  
  .terms-of-service a:hover {
    text-decoration: underline;
  }