.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg-color);
  padding: 10px 20px;
  position: fixed; /* Keeps the navbar at the top */
  top: 0;
  width: 100%;
  z-index: 999; /* Ensures navbar stays above other elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-navbar {
  background-color: #333; /* Dark background */
  color: #fff; /* White text */
}

.navbar-logo img {
  height: 50px;
}

.navbar-logo h2 {
  margin: 0;
  color: var(--navbar-text-color);
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-weight: 500;
}

.navbar-links li a:hover {
  color: var(--accent-color);
}

.in-development-label {
  background-color: #ffcc00; /* Yellow background */
  color: #333333;           /* Dark text */
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Responsive adjustments */
.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--navbar-text-color);
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: var(--navbar-bg-color);
    width: 100%;
    text-align: center;
    z-index: 1000; /* Ensure it stays above other content */
  }

  .navbar-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .in-development-label {
    font-size: 0.8rem; /* Smaller font size on mobile */
    padding: 3px 8px;  /* Adjust padding on mobile */
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure it stays below the navbar but above other content */
  }
}