.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-image: url('/public/log.webp'); /* Add the path to your custom logo here */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.App-header {
  background-color: #0A192F; /* Use root color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #0A192F;
}

.content {
  padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

.faded-text {
  opacity: 1;
}

